@use 'sparrow/styles/style-common.scss' as *;
@use 'sparrow/styles/style-effects.scss' as *;
@use 'sparrow/styles/style-scaling.scss' as *;

.recactus-landing {
  position: fixed;
  inset: 0;
  height: 100vh;
  z-index: 1000;

  display: flex;
  overflow: hidden;

  background: #242424;

  .hero {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 0 72px;
    * {
      transition: opacity 300ms ease-in-out, color 300ms ease-in-out;
    }

    &-logo {
      display: block;
      width: 36px;
      height: auto;
      position: absolute;
      inset: auto auto 12px;

      &.black {
        opacity: 1;
      }
      &.white {
        opacity: 0;
      }
    }

    &-text {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #000000FF;
      line-height: 116%;
      letter-spacing: -0.8px;
      text-transform: lowercase;
      padding: 0;
    }

    &:hover {
      .hero-text {
        color: var(--color-invert-medium);
      }

      .hero-logo {
        &.black {
          display: none;
          opacity: 0;
        }
        &.white {
          display: block;
          opacity: 1;
        }
      }
    }
  }

  .grid-column {
    min-width: 221px;
    height: 100%;
    display: flex;
    border-inline-end: 1px solid #000000FF;
    padding: 12px;

    &:nth-child(2) {
      align-items: flex-end;
    }
  }
}