@use 'sparrow/styles/style-scaling.scss' as *;

.title-bar {
  display: flex;
  align-items: center;
  user-select: none;
  background: var(--color-background-1);
  border-inline: 1px solid var(--color-background-3);
  border-bottom: 1px solid var(--color-background-3);

  img {
    padding: 0 6px;
  }

  .caption {
    @include padding(0 9px 0 12px);
  }

  .title {
    @include padding(9px 12px);
    border-block: 1px solid var(--accordion-border-color);
    border-inline-start: 1px solid var(--color-background-3);
  }
}