@use "sparrow/src/styles/style-scaling" as *;
@use "sparrow/src/styles/style-common" as *;

.app {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar actionbar"
    "sidebar mainpanel";

  grid-template-columns: fit-content(194px)  1fr;
  grid-template-rows: fit-content(54px) 1fr;

  .side-panel {
    grid-area: sidebar;
    width: 194px;
    background: var(--color-background);
    border-right: 1px solid var(--color-emphasis-08);
    @include gap(6px, column);

    .doit-brand {
      display: flex;
      align-items: center;
      user-select: none;
      padding: 6px;
      margin: 0 0 22px;

      * {
        margin: 3px 6px;
        color: var(--color-secondary-high);
        fill: var(--color-secondary-high);
      }
    }

    .sidebar-group {
      padding: 6px;
      @include gap(2px, column);

      .sidebar-caption {
        @include padding(3px 6px 3px 30px);
        .text {
          --text-text-color: var(--color-emphasis-low);
        }
      }

      .sidebar-item {
        @include padding(3px 6px 3px 36px);
        &.is-active {
          background-color: var(--color-emphasis-04);
          @include overlay();
          @include overlay-hover() {
            background-color: transparent;
          }
        }

        .sidebar-number {
          --text-text-color: var(--color-emphasis-low);
        }
      }

      &.private {
        .sidebar-item {
          div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .edit-box {
            input {
              background: transparent;
              min-width: 0;
              border: none;
              width: 100%;
              line-height: 1;
              color: inherit;
              padding: 0 3px;
              outline: none;
            }
          }
        }
      }

    }
  }

  .action-bar {
    grid-area: actionbar;
    display: flex;
    align-items: center;
    height: 54px;
    margin: 12px 0 0;
    padding: 12px;
  }

  .main-panel {
    grid-area: mainpanel;
    background: var(--color-background);
  }
}

.showcase {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 0 36px;

  h1 {
    margin: 24px 0 48px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(5, minmax(86px, min-content));
    gap: 36px 24px;
    align-items: start;
  }

  .group {
    @include gap(16px, column);
  }
}

