#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--color-emphasis-high);

  h1 {
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 8px;
    color: var(--color-emphasis-medium);
  }
}