@use "sparrow/src/styles/style-effects" as *;
@use "sparrow/src/styles/style-scaling" as *;
@use "sparrow/src/styles/style-common" as *;
@use "sparrow/src/styles/style-effects" as *;
@use "sparrow/src/styles/style-text" as *;

.filter-popup {
  @include elevation(40);
  @include border-radius(9px);
  @include padding(6px);
  @include gap(3px, column);
  height: fit-content;
  min-width: 143px;
  user-select: none;
  display: none;
  flex-direction: column;

  &.is-visible {
    display: flex;
  }

  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include margin(0 0 6px);

    .segment-control:empty {
      display: none;
    }
  }

  .filter-textbox {
    @include overlay() {
      @include depth(1);
      @include border-radius(6px);
    }
    &.is-filled {
      border: 1px solid var(--color-emphasis-08);
    }
  }

  .filter-item {
    --filter-color-background: unset;
    --filter-color-text: unset;
    @include padding(3px 6px);
    height: min-content;
    max-height: 24px;

    @include overlay() {
      background-color: var(--filter-color-background);
      @include border-radius(3px);
    }

    .text, .icon {
      position: relative;
      z-index: 1;
      color: var(--filter-color-text);
    }

    &:last-of-type {
      margin: 0;
    }
  }
}